.env
/bot/.config.py

static/*
!static/css/
!static/css/**

*/**/__pycache__
*/**.DS_Store
*.pyc
~$*
./pytest_cache
.testmondata
.coverage*
.testmondata
.DS_Store
build.json
logs/*
*/**/~.*

test-reports/coverage.xml
test-reports/tests.xml
test-reports/html

/node_modules
package-lock.json
package.json
/src
/doc
/dumps
/build/prod/dumps
/volumes
.testmondata*
src/*
records/*.wav*
storage/*
docs/*.log
.DS_Store
tmp/profiler/*
asterisk/*.log
